.small {
  display: block;
}

.big {
  display: none;
}
/* small styles */
.headStart {
  border-bottom: 1px solid #bbacac;
}
.head {
  display: flex;
  flex-direction: row;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 0.5rem;
}
.left {
  flex: 1;
  display: flex;
  align-items: center;
}
.right {
  flex: 1;
  display: flex;
  justify-content: right;
}
.headEnd {
  margin-top: 0.8rem;
}
.headEndSub {
  display: flex;
  flex-direction: row;
}
.userImg {
  flex: 0;
  padding-right: 1rem;
}
.userDetails {
  flex: 1;
}
.invisiput{
  max-width: 1px;
  opacity: 0;
  position: absolute;
  top: 0;
}
.defaultInputText {
  font-size: 18px;
  /* display: inline-block; */
  width: 100%;
  height: 60vh;
  overflow-y: scroll;
}
.blinker{
  width: 3px;
  font-size: 19px;
  /* height: 20px; */
  background: blue;
  display: inline-block;
}
/* .blinker {
  display: flex;
  align-items: center;
  gap: 2px;
} */
@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
}
.blinker {
  /*code commented for brevity*/
  animation: cursor-blink 1.5s steps(2) infinite;
}
@media (min-width: 750px) {
  .small {
    display: none;
  }

  .big {
    display: block;
  }
}
