/* visuals */
.theGParent {
  background-color: #adadad;
}
.theParent {
  background-color: #adadad;
  height: 250px;
}
.theGParentM {
  background-color: #fff;
}
.theParentM {
  height: 250px;
}

.back {
  position: absolute;
  top: 0;
  left: 0;
}
.backImg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem;
}
.mail {
  position: absolute;
  bottom: -1.5rem;
  right: 1.1rem;
}

.mailHolder {
  padding: 0.7rem;
}

.mailIcon {
  font-size: 30px;
}

.profileImg {
  object-fit: cover;
}
/* details */
.name {
  font-size: 23px;
}
.class{
  font-size: 18px;
}
@media (min-width: 750px) {
  /* visuals */
  .theGParent {
    background-color: #fff;
  }
  .theParent {
    height: 300px;
  }
  .theGParentM {
    background-color: #fff;
  }
  .theParentM {
    height: 300px;
  }

  .mail {
    bottom: -2rem;
    right: 1.5rem;
  }
  .mailHolder {
    padding: 1rem;
  }
  .mailIcon {
    font-size: 45px;
  }

  /* details */
  .name {
    font-size: 28px;
  }
}
