.noPost{
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}
.sideBar {
  right: auto;
  left: 0;
  top: 45px;
  position: fixed;
  /* background-color: #CCCCCC; */
  width: 100%;
  height: 75px;
}
.layHelp {
  margin-top: 130px;
}
.foc {
  margin-top: 25px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post {
  margin-bottom: 2rem;
  width: 100%;
  flex: 1;
  /* max-width: 400px; */
}
.postImg {
  height: 400px;
  width: 100%;
}
.opinion {
  display: flex;
  flex-direction: row;
}
.like {
  flex: 1;
}
.dislike {
  flex: 1;
}
.comment {
  flex: 1;
}
.blogFoot {
  border-top: none;
}
.sidebarDis {
  display: none;
}
.notP {
  padding: 5px;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}
.notP:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.notification {
  display: flex;
  flex-direction: row;
  height: auto;
}
.notIMG {
  flex: 1;
  height: 60px;
}
.notText {
  flex: 3;
}
.notTime {
  font-size: 12px;
}
.commIMG {
  flex: 0;
}
.commText {
  width: auto;
  max-width: 450px;
  background-color: #f0f2f5;
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
  border-bottom-left-radius: 7px !important;
}
.likeandReply {
  display: flex;
  flex-direction: row;
  font-size: 13px;
}
.studOpinion {
  border-right: none;
  border-left: none;
  border-top: none;
  resize: none;
  padding-left: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.studOpinion::placeholder {
  color: #adadad;
}
.othersOpinion {
  height: 69vh;
  overflow-y: scroll;
}

/* width */
.othersOpinion::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.othersOpinion::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
.othersOpinion::-webkit-scrollbar-thumb {
  background: red; 
  border-radius: 10px;
}

/* Handle on hover */
.othersOpinion::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.studOpinionDraw {
  width: 90vw;
}
.puller {
  height: fit-content;
  background-color: white;
  opacity: 10;
}
@media (min-width: 750px) {
  .noPost{
    justify-content: left;
  }
  .sideBar {
    left: auto;
    top: 80px;
    right: 0;
    width: 35%;
    height: 83vh;
    background-color: #f7f7f7c7;
    overflow-y: scroll;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .studOpinionDraw {
    width: 80vw;
  }

  .sidebarDis {
    display: block;
  }
  .layHelp {
    margin-top: 100px;
  }
  .post {
    width: 60%;
    margin-left: 0;
  }
  .postImg {
    height: 550px;
  }
}
