.chatHelper {
  padding-top: 100px;
}

.noChat {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
}

.chat {
  height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}
.seventy {
  height: 70px;
}
.chatChild {
  flex: 1;
}
.end {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: auto;
}

@media (min-width: 750px) {
  .chatHelper {
    padding-top: 110px;
  }
}
