body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.underline {
  text-decoration: underline;
}
/* margins */
.margingTopOutrageous {
  margin-top: 4rem;
}
.pb-1 {
  margin-right: 0.5rem;
}
.pb-2 {
  margin-right: 1rem;
}
.pb-3 {
  margin-right: 1.5rem;
}
.pb-4 {
  margin-right: 2.5rem;
}
.mr-1 {
  margin-right: 0.5rem;
}
.mr-2 {
  margin-right: 1rem;
}
.mr-3 {
  margin-right: 1.5rem;
}
.mr-4 {
  margin-right: 2.5rem;
}
.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.ml-3 {
  margin-left: 1.5rem;
}
.ml-4 {
  margin-left: 2.5rem;
}
/* margins */
.smartContainer {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}
.paddTB {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.paddFull {
  padding: 0.5rem;
}
.paddFull-1 {
  padding: 1rem;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.round {
  border-radius: 50%;
}
.a {
  text-decoration: none;
  color: white;
}
.or:hover {
  color: #61ce70;
}
.float-right {
  float: right;
}
.browni {
  color: #fd7e2b;
}
.red {
  color: red;
}
.topNbottom{
  border-bottom: 1px dotted #61ce70;
}
.white {
  color: white;
}
.bg-white {
  background-color: white;
}
.nunsa {
  color: #61ce70;
}
.bg-nunsa {
  background-color: #61ce70;
}
.reventlify {
  color: #7165e3;
}
.bg-reventlify{
  background-color: #7165e3;
}
.wText {
  color: #333;
}

.form-control.onfocusOpinion:focus {
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
  border-color: #adadad !important;
  box-shadow: none !important;
}
/* shadow */
.boxShadow {
  /* box-shadow: 0 0 10px #000; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.boxShadowHover:hover {
  /* box-shadow: 0 0 10px #000; */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.bottomShadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.bottomShadowHover:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.hover:hover {
  cursor: pointer;
}
.btnct-nunsa {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px 15px;
  background-color: #61ce70;
  color: white;
}
.btnct-nunsa:hover {
  background-color: #61ce70;
  border: 1px solid;
  border-color: #61ce70;
  color: white;
}
.bold {
  font-weight: 600;
}
.bolder {
  font-weight: 700;
}
.boldest {
  font-weight: 800;
}
.boldEnd {
  font-weight: 900;
}
.limiter {
  width: fit-content;
}
.margAuto {
  margin-left: auto;
  margin-right: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.center {
  text-align: center;
}
.centerDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.centerDivH {
  display: flex;
  height: fit-content;
  justify-content: center;
}
.centerDivV {
  display: flex;
  /* height: fit-content; */
  align-items: center;
}
.float-top {
  position: absolute;
  top: 0;
}
.float-bottom {
  position: absolute;
  bottom: 10px;
}
.centerDivR {
  display: flex;
  height: fit-content;
  justify-content: right;
}
.fullscreen {
  height: 100vh;
}
.fullscreen-10 {
  height: 90vh;
}
.fullscreen-20 {
  height: 80vh;
}
.fullscreen-30 {
  height: 70vh;
}
.noBorder {
  border: none;
}
.atGrabNormal-1 {
  font-size: 1.9rem;
  color: white;
}
.atGrabNormal {
  font-size: 1.7rem;
  color: white;
}
.onPhoneNav {
  font-weight: 700;
}
.focus {
  font-weight: 700;
}
.circle {
  border-radius: 50%;
}
/* topics */
.lineForHeader {
  width: fit-content;
}
.lineForHeader .theLine {
  background-color: #61ce70;
  width: 40%;
  height: 4px;
}
.topicFlex {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.tFlex {
  flex: 1;
  /* display: flex;
  flex-direction: column; */
}
.tImgHeight {
  height: 550px;
}
.tImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.relative {
  position: relative;
}
.execImg {
  height: 400px;
}
.execImg img {
  height: 100%;
  object-fit: cover;
}
.execGrid {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 2rem;
}

.blogGrid {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 2rem;
}
.blogImage {
  height: 200px;
  /* background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 70%); */
  filter: brightness(95%);
}
.blogTitle h3 {
  font-size: 1.2rem;
}
.blogText {
  color: #777;
}
.blogFoot {
  border-top: 1px solid #adadad;
  color: #adadad;
}
.ourserGrid {
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding-block: 2rem;
  /* width: min(95%, 70rem); */
  /* margin-inline: auto; */
}
.underlineGrey {
  /* text-decoration: underline 5px;
  text-decoration-color: #ff914d; */
  border-bottom: 1px solid #5c5e64;
}
.atGrab {
  font-size: 1.3rem;
  font-weight: 600;
}
.cRight {
  font-size: 0.8rem;
}
.bigScreen {
  display: none;
}
.smallScreen {
  display: block;
}
@media (min-width: 750px) {
  .onPhoneNav {
    font-weight: 600;
  }
  .margingTopOutrageous {
    margin-top: 6rem;
  }
  .topicFlex {
    flex-direction: row;
  }
  .execGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .execImg {
    height: 500px;
  }
  .blogGrid {
    grid-template-columns: repeat(3, 1fr);
  }
  .ourserGrid {
    grid-template-columns: repeat(2, 1fr);
  }
  .atGrab {
    font-size: 2.2rem;
  }
  .bigScreen {
    display: block;
  }
  .smallScreen {
    display: none;
  }
}
